<div class="container">
  <div class="left">
    <div class="slideshow">
      <img *ngFor="let image of images; let i = index" [src]="image" [class.active]="i === currentSlide"
        alt="Slideshow image {{ i + 1 }}" />
    </div>
  </div>

  <div class="right">
    <h1 *ngIf="!showSurprise" class="happy-2-years">Happy 2 Years, My Cutest </h1>
    <h3 *ngIf="!showSurprise">Here is a very tiny digital gift for you, my cutie (made by me, of course)</h3>
    <button *ngIf="!showSurprise" (click)="revealSurprise()">Click for Gift</button>
    <div *ngIf="showSurprise" class="surprise">
      <img [src]="surpriseImage" alt="Surprise" />
      <p>Thank you for the best 2 years of my life. Here is a tiny bouquet for you since you're the cutest and you deserve all the flowers in the world, even digital ones made by your girlfriend. I love you so much, and I cannot wait to be with you for the years to come 💙</p>
    </div>
  </div>
</div>